@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
    --min-padding: 1.5rem;
    --max-padding: 10.3125rem;
    --min-screen: 390;
    --max-screen: 1440;
    --fluid-24-165: clamp(1.5rem, -1.603rem + 13.2394vw, 10.3125rem);
    --fluid-88-120: clamp(5.5rem, 4.7958rem + 3.0047vw, 7.5rem);
    --fluid-68-120: clamp(4.25rem, 3.1056rem + 4.8826vw, 7.5rem);
    --fluid-28-50: clamp(1.75rem, 1.2658rem + 2.0657vw, 3.125rem);
    --fluid-24-40: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    --fluid-20-32: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
    --fluid-24-28: clamp(1.5rem, 1.412rem + 0.3756vw, 1.75rem);
    --fluid-16-20: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
    --fluid-15-46: clamp(0.9375rem, 0.2553rem + 2.9108vw, 2.875rem);
    --fluid-15-45: clamp(0.9375rem, 0.2663rem + 2.8638vw, 2.8438rem);

    --container-max-width: 69.375rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --font-poppins: 'Poppins', 'sans-serif';
    --color-red: hsla(0, 100%, 74%, 1);
    --color-green: hsla(154, 59%, 51%, 1);
    --color-green-hover: hsla(154, 65%, 68%, 1);
    --color-blue: hsla(248, 32%, 49%, 1);
    --color-darkblue: hsla(249, 10%, 26%, 1);
    --color-grayblue: hsla(246, 25%, 77%, 1);
}

body {
    font-family: var(--font-poppins);
    font-size: 1rem;
}

h2 {
    @apply text-center text-[1.75rem] leading-9 font-bold tracking-[-0.292px] text-white xl:text-left xl:text-[3.125rem] xl:leading-14 xl:tracking-[-0.292px];
    font-size: var(--fluid-28-50);
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
}
